RewriteEngine On

# Redirect only direct client requests for .html files
RewriteCond %{THE_REQUEST} \s/+(index|cert|clicks|server)\.html [NC]
RewriteRule ^(index|cert|clicks|server)\.html$ /$1 [R=301,L]

# Internally rewrite extensionless URLs to .html files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ /index.html [L]
RewriteRule ^Certificates$ /cert.html [L]
RewriteRule ^clicks$ /clicks.html [L]
RewriteRule ^server$ /server.html [L]
# Custom error documents
ErrorDocument 404 /error.html
ErrorDocument 403 /error.html